apiVersion: v1
kind: ConfigMap
metadata:
  name: index-html
data:
  index.html: |
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Semantic Research on the UNGP</title>
    </head>
    <body>
    <div>
        <p>To access Vocbench, append '/vocbench3' to the current url.</p>
    </div>
        
    </body>
    </html>
